<h1>CRUD</h1>

<ul class="list-group">
    <li class="list-group-item">
        ADD TODO:
    </li>
    <li class="list-group-item">
        <div class="form-group row">
            <label for="name" class="col-xs-2 col-form-label">Name</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" [value]="name" (input)="name = $event.target.value" id="name">
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="form-group row">
            <label for="description" class="col-xs-2 col-form-label">Description</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" [value]="description" (input)="description = $event.target.value" id="description">
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <button type="button" class="btn btn-warning" (click)="postItem()">Post Item</button>
    </li>
</ul>

<hr/>

<button type="button" class="btn btn-warning" (click)="getItems()">Get Items</button> 


<form class="form-inline">
  <div class="form-group">
    <label for="search-input">Search</label>
    <input type="text" class="form-control" id="search-input" placeholder="text" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}">
  </div>
  <button type="submit" class="btn btn-primary" (click)="filterItems()">Search</button>
</form>

<ul class="list-group">
  <li class="list-group-item"  *ngFor="let item of items">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{item.name}}</h4>
        <p class="card-text">{{item.description}}</p>
      </div>
    </div>
  </li>
</ul>
